body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ededed;
}

* {
    box-sizing: border-box;
    color: #333;
}

input, button {
    border: none;
    outline: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

p {
    text-align: center;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    text-align: center;
  }

.btn-sub {
    margin-top: 40px;
    margin: 25px auto 0;
    margin-bottom: 20px;
    background: #028482;
    text-transform: uppercase;
    display: block;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.container {
    padding: 1em;
}

.bold-text {
    font-weight: bold;
}

.holder {
    border-radius: 15px;
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
}
